# workflow
name: Workflow for GDIPSA SA4101 CI/CD Assignment

# trigger
on: push

# jobs
jobs:

  # name of jobs
  my-cicd-pipeline:

    # if condition
    if: ${{ github.ref_name == 'release/v0.0'}}

    # runner
    runs-on: ubuntu-latest

    # steps in this job
    steps:

    # 1. scan-code-for-vulnerabilities
    - name: Aqua Security Trivy
      uses: aquasecurity/trivy-action@0.19.0

    # 2. containerise-golang-application

    # 3. push-image-to-docker-hub

    # 4. digitally-sign-the-image

    # 5. send-notification-to-slack
