# workflow
name: Build and Push

# trigger
on:
  push:
    branches: ['release/v[0-9]+.[0-9]+']

# jobs
jobs:

  # name of jobs
  my-cicd-pipeline:

    # runner
    runs-on: ubuntu-latest

    # condition for not running pipeline if commit message starts with #NORUN.
    if: ${{ !startsWith(github.event.head_commit.message, '#NORUN') }}

    # steps in this job
    steps:
    
    # 0a. checkout-code
    - name: Checkout code
      uses: actions/checkout@v4

    # 1. scan-code-for-vulnerabilities
    - name: Aqua Security Trivy
      uses: aquasecurity/trivy-action@0.19.0
      with:
        scan-type: 'fs'
        ignore-unfixed: true
        format: 'table'
        severity: 'HIGH'  
        output: trivy-report.txt

    # test output report // tested and it works to output in text file, visible from GitHub Workflow.
    - name: Test create JSON payload of trivy report
      id: trivy-report-step
      run: |
          cat trivy-report.txt | { read trivy_report; echo "{JSON_PAYLOAD_TRIVY_REPORT}={\"text"\:"$trivy_report"}"; } >> $GITHUB_OUTPUT

    # 1a1. send report to slack // tested and it works to send notification to slack. to study how to customise it.
    # - name: Slack Notification
    #   uses: rtCamp/action-slack-notify@v2
    #   env:
    #     SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_TEST_SUBMISSION }}

    # 1a2. send trivy report to slack after 1a1.
    - name: Send custom JSON data to Slack workflow
      env:
        TRIVY_REPORT: ${{ steps.trivy-report-step.outputs.TRIVY_REPORT }}
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_TEST_SUBMISSION }}
        SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
      id: slack
      uses: slackapi/slack-github-action@v1.26.0
      with:
        payload: $TRIVY_REPORT"

    # 0b. build-image-from-Dockerfile
    # - name: Build image from github commit
    #   run: |
    #      docker build ${{ github.repositoryUrl }}#${{ github.ref }}:${{ github.sha }}

    # 2. containerise-golang-application

    # 3. push-image-to-docker-hub

    # 4. digitally-sign-the-image

    # 5. send-notification-to-slack
