# workflow
name: Workflow for GDIPSA SA4101 CI/CD Assignment

# trigger
on: push

# jobs
jobs:

  # name of jobs
  my-cicd-pipeline:

    # if condition
    if: contains(github.ref,'release/v0.0')

    # runner
    runs-on: ubuntu-latest

    # steps in this job
    steps:
    # 0a. checkout-code
    - name: Checkout code
      uses: actions/checkout@v2

    # 0b. build-image-from-Dockerfile
    - name: Build image from Dockerfile
      run: docker build -t docker.io

    # 1. scan-code-for-vulnerabilities
    - name: Aqua Security Trivy
      uses: aquasecurity/trivy-action@0.19.0

    # 2. containerise-golang-application

    # 3. push-image-to-docker-hub

    # 4. digitally-sign-the-image

    # 5. send-notification-to-slack
